$default-color: #019160;
$hover-color: #2FBE8E;
$primary-color: #01B075;
$focus-color: #EBF9F4;
$white-color: #ffffff;
$secondary-hover-color: #E9EBEE;
$border-color: #bbbbbb;
$table-cell-color: #e9ebee61;
$table-cell-hover-color: #E9EBEE;
$danger-color: #FFCECE;
$warning-color: #FFE7AF;
$info-color: #D8EAFF;
$success-color: #BAFFE7;
$delete-color: #F65454;
$paginate-height: 56px;
$header-height: 48px;
$grey-color: #454545;
$btn-cancel-focus-color: #d2d2d2;
$error-color: #FF4747;
$hover-menu-item-bg-color: #e5e5e5;
$hover-menu-item-color: #000000;
$number-page-btn-bg-color: #bec0c0;
$number-page-btn-bg-hover-color: #17b94d;
$navigation-icon-color: #686262;
$navigation-icon-hover-color: #1eb9e9;
$save-btn-bg-color: #2280ac;
$save-btn-bg-hover-color: #1eb9e9;
$mask-color: rgba(0, 0, 0, 0.5);
$cancel-btn-hover-color: #d9534f;
$cancel-btn-color: #ebebeb;
$close-btn-hover-color: #da221c;
$warning-icon-color: #f0ad4e;